## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
0,0,Esperance,AU,-33.8667,121.9000,62.44,70,100,13.94,overcast clouds,2022-03-27 14:43:59
1,1,Brae,GB,60.3964,-1.3530,49.44,79,50,19.33,scattered clouds,2022-03-27 14:44:00
2,3,Punta Arenas,CL,-53.1500,-70.9167,42.91,70,0,14.97,clear sky,2022-03-27 14:44:00
3,4,Carlagan,PH,14.9750,122.0456,80.73,81,100,9.01,overcast clouds,2022-03-27 14:44:01
4,5,Butaritari,KI,3.0707,172.7902,79.83,73,60,6.85,broken clouds,2022-03-27 14:44:01

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.

# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 100

In [5]:
# 4a. Determine if there are any empty rows.
city_data_df.count()

City_ID                650
City                   650
Country                644
Lat                    650
Lng                    650
Max Temp               650
Humidity               650
Cloudiness             650
Wind Speed             650
Current Description    650
Date                   650
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = city_data_df.dropna(subset = ['Country'])
clean_df.reset_index(drop=True)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
0,0,Esperance,AU,-33.8667,121.9000,62.44,70,100,13.94,overcast clouds,2022-03-27 14:43:59
1,1,Brae,GB,60.3964,-1.3530,49.44,79,50,19.33,scattered clouds,2022-03-27 14:44:00
2,3,Punta Arenas,CL,-53.1500,-70.9167,42.91,70,0,14.97,clear sky,2022-03-27 14:44:00
3,4,Carlagan,PH,14.9750,122.0456,80.73,81,100,9.01,overcast clouds,2022-03-27 14:44:01
4,5,Butaritari,KI,3.0707,172.7902,79.83,73,60,6.85,broken clouds,2022-03-27 14:44:01
...,...,...,...,...,...,...,...,...,...,...,...
639,676,Surt,LY,31.2089,16.5887,76.21,25,15,15.08,few clouds,2022-03-27 14:48:19
640,677,Ginda,IN,30.6945,78.4932,59.79,30,0,7.67,clear sky,2022-03-27 14:48:20
641,678,Burnie,AU,-41.0667,145.9167,59.94,97,95,6.31,overcast clouds,2022-03-27 14:48:20
642,679,Onega,RU,63.9061,38.1404,20.86,80,30,10.51,scattered clouds,2022-03-27 14:48:21
643,680,Salalah,OM,17.0151,54.0924,84.29,48,0,4.61,clear sky,2022-03-27 14:48:21

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Esperance,AU,62.44,overcast clouds,-33.8667,121.9000,
1,Brae,GB,49.44,scattered clouds,60.3964,-1.3530,
2,Punta Arenas,CL,42.91,clear sky,-53.1500,-70.9167,
3,Carlagan,PH,80.73,overcast clouds,14.9750,122.0456,
4,Butaritari,KI,79.83,broken clouds,3.0707,172.7902,
5,Bredasdorp,ZA,72.01,overcast clouds,-34.5322,20.0403,
6,Bambous Virieux,MU,82.65,few clouds,-20.3428,57.7575,
7,Almaznyy,RU,34.07,overcast clouds,48.0448,40.0450,
8,Sitka,US,33.69,few clouds,57.0531,-135.3300,
9,Maniitsoq,GL,25.90,few clouds,65.4167,-52.9000,

In [8]:
len(hotel_df)

644

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params = {
        "location": f"{lat},{lng}",
        "radius": 5000,
        "types" : "hotel",
        "key": g_key
    }

    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
        
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError): print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [10]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Esperance,AU,62.44,overcast clouds,-33.8667,121.9000,Esperance
1,Brae,GB,49.44,scattered clouds,60.3964,-1.3530,Brae
2,Punta Arenas,CL,42.91,clear sky,-53.1500,-70.9167,Punta Arenas
3,Carlagan,PH,80.73,overcast clouds,14.9750,122.0456,Burdeos
4,Butaritari,KI,79.83,broken clouds,3.0707,172.7902,Ukiangang

In [11]:
# 8a. Create the output File (CSV)
# Create the output file (CSV).
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [12]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [13]:
# 11a. Add a marker layer for each city to the map. 
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

In [14]:
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))