In [51]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
g_key = "AIzaSyDwzY2AOB9FrCOEzjojk2rDWR4xj4yOaUM"

In [52]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Cabo San Lucas,MX,2022-03-22 13:15:53,22.8909,-109.9124,65.52,49,1,1.01
1,1,Iqaluit,CA,2022-03-22 13:15:53,63.7506,-68.5145,-13.27,75,20,23.02
2,2,Yerbogachen,RU,2022-03-22 13:15:54,61.2767,108.0108,15.91,94,100,5.10
3,3,Vestmannaeyjar,IS,2022-03-22 13:15:54,63.4427,-20.2734,47.39,93,75,8.05
4,4,Quelimane,MZ,2022-03-22 13:15:54,-17.8786,36.8883,82.35,74,75,6.91

In [53]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [54]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [55]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.
temperatures = city_data_df["Humidity"]
max_temp = temperatures.max()

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [56]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [57]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.
temperatures = city_data_df["Humidity"]
max_temp = temperatures.max()

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [58]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [59]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.
temperatures = city_data_df["Humidity"]
max_temp = temperatures.max()

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in temperatures])

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [60]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.
temperatures = city_data_df["Humidity"]
max_temp = temperatures.max()

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in temperatures])

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [61]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.
temperatures = city_data_df["Humidity"]
max_temp = temperatures.max()

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
# heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in temperatures])
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)

# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [62]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [63]:
# Create a Percent Cloudiness Heatmap
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"] 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [64]:
# Create a Wind Speed Heatmap
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
print(city_data_df)

     City_ID            City Country                 Date      Lat       Lng  \
0          0  Cabo San Lucas      MX  2022-03-22 13:15:53  22.8909 -109.9124
1          1         Iqaluit      CA  2022-03-22 13:15:53  63.7506  -68.5145
2          2     Yerbogachen      RU  2022-03-22 13:15:54  61.2767  108.0108
3          3  Vestmannaeyjar      IS  2022-03-22 13:15:54  63.4427  -20.2734
4          4       Quelimane      MZ  2022-03-22 13:15:54 -17.8786   36.8883
..       ...             ...     ...                  ...      ...       ...
565      565         Gigmoto      PH  2022-03-22 13:17:25  13.7796  124.3900
566      566         Odweyne      SO  2022-03-22 13:19:24   9.4092   45.0640
567      567        Escanaba      US  2022-03-22 13:19:25  45.7453  -87.0646
568      568       Ogaminana      NG  2022-03-22 13:19:25   7.5946    6.2248
569      569       Guadalupe      MX  2022-03-22 13:19:25  25.6833 -100.2500

     Max Temp  Humidity  Cloudiness  Wind Speed
0       65.52        49           1        1.01
1      -13.27        75          20       23.02
2       15.91        94         100        5.10
3       47.39        93          75        8.05
4       82.35        74          75        6.91
..        ...       ...         ...         ...
565     79.61        90          20        6.11
566     91.15        20           2        6.78
567     34.25        69         100       16.11
568    106.39        20          66        1.77
569     69.21        20           0        9.22

[570 rows x 10 columns]

In [65]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [67]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 50
What is the maximum temperature you would like for your trip? 100

In [68]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Cabo San Lucas,MX,2022-03-22 13:15:53,22.8909,-109.9124,65.52,49,1,1.01
4,4,Quelimane,MZ,2022-03-22 13:15:54,-17.8786,36.8883,82.35,74,75,6.91
5,5,Sisophon,KH,2022-03-22 13:15:55,13.5859,102.9737,83.98,70,94,6.42
10,10,Arlit,NE,2022-03-22 13:15:56,18.7369,7.3853,96.94,5,0,4.50
11,11,Sakakah,SA,2022-03-22 13:15:57,29.9697,40.2064,76.57,15,0,11.01
12,12,Butaritari,KI,2022-03-22 13:15:57,3.0707,172.7902,80.96,79,10,13.65
15,15,Hithadhoo,MV,2022-03-22 13:15:59,-0.6000,73.0833,84.00,73,14,17.16
16,16,Manoel Urbano,BR,2022-03-22 13:11:15,-8.8389,-69.2597,75.27,96,100,0.76
17,17,Nuevitas,CU,2022-03-22 13:15:59,21.5453,-77.2644,78.96,63,3,14.90
19,19,Ushuaia,AR,2022-03-22 13:16:00,-54.8000,-68.3000,53.26,58,75,8.05

In [69]:
# How would you determine if there are any null values for the rows in the preferred_cities_df DataFrame? 
preferred_cities_df.notnull().sum()

City_ID       356
City          356
Country       350
Date          356
Lat           356
Lng           356
Max Temp      356
Humidity      356
Cloudiness    356
Wind Speed    356
dtype: int64

In [37]:
preferred_cities_df.count()

City_ID       356
City          356
Country       350
Date          356
Lat           356
Lng           356
Max Temp      356
Humidity      356
Cloudiness    356
Wind Speed    356
dtype: int64

In [38]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       6
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [39]:
preferred_cities_df.dropna()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Cabo San Lucas,MX,2022-03-22 13:15:53,22.8909,-109.9124,65.52,49,1,1.01
4,4,Quelimane,MZ,2022-03-22 13:15:54,-17.8786,36.8883,82.35,74,75,6.91
5,5,Sisophon,KH,2022-03-22 13:15:55,13.5859,102.9737,83.98,70,94,6.42
10,10,Arlit,NE,2022-03-22 13:15:56,18.7369,7.3853,96.94,5,0,4.50
11,11,Sakakah,SA,2022-03-22 13:15:57,29.9697,40.2064,76.57,15,0,11.01
...,...,...,...,...,...,...,...,...,...,...
562,562,Katiola,CI,2022-03-22 13:19:23,8.1333,-5.1000,95.13,37,99,4.03
564,564,Nago,JP,2022-03-22 13:17:12,26.5881,127.9761,64.83,79,100,11.36
565,565,Gigmoto,PH,2022-03-22 13:17:25,13.7796,124.3900,79.61,90,20,6.11
566,566,Odweyne,SO,2022-03-22 13:19:24,9.4092,45.0640,91.15,20,2,6.78
569,569,Guadalupe,MX,2022-03-22 13:19:25,25.6833,-100.2500,69.21,20,0,9.22

In [40]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
0   Cabo San Lucas      MX     65.52  22.8909 -109.9124
4        Quelimane      MZ     82.35 -17.8786   36.8883
5         Sisophon      KH     83.98  13.5859  102.9737
10           Arlit      NE     96.94  18.7369    7.3853
11         Sakakah      SA     76.57  29.9697   40.2064
12      Butaritari      KI     80.96   3.0707  172.7902
15       Hithadhoo      MV     84.00  -0.6000   73.0833
16   Manoel Urbano      BR     75.27  -8.8389  -69.2597
17        Nuevitas      CU     78.96  21.5453  -77.2644
19         Ushuaia      AR     53.26 -54.8000  -68.3000

In [45]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params = {
        "location": f"{lat},{lng}",
        "radius": 5000,
        "types" : "hotel",
        "key": g_key
    }

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    #hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError): print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.

In [46]:
hotel_df.head()

              City Country  Max Temp      Lat       Lng      Hotel Name
0   Cabo San Lucas      MX     65.52  22.8909 -109.9124  Cabo San Lucas
4        Quelimane      MZ     82.35 -17.8786   36.8883       Quelimane
5         Sisophon      KH     83.98  13.5859  102.9737        Sisophon
10           Arlit      NE     96.94  18.7369    7.3853           Arlit
11         Sakakah      SA     76.57  29.9697   40.2064          Sakaka

In [70]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [71]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [73]:
# The text inside the multiline string is HTML code. 
# HTML code is defined by the opening and closing the angular brackets (e.g., <tag> and <tag/>). 

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [74]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))